fastapi
uvicorn[standard]
SQLAlchemy[asyncio]
alembic
pydantic[email]
pydantic-settings
python-jose[cryptography]
passlib[bcrypt]
python-multipart
slowapi
python-dotenv
celery
asyncpg
httpx
aiofiles
supabase
gunicorn
typing_extensions